.task-item-record {
  display: flex;
  //justify-content: space-between;
  padding: 5px 10px;
  border-top: 1px solid #f0f0f0;
  align-items: center;
  font-size: .9rem;

  &__start-time {
    margin-right: 15px;
  }

  &__end-time {
    &:before {
      content: " - ";
      display: inline-block;
      margin-right: 12px;
    }
  }

  &__elapsed-time {
    margin-left: 25px;
  }
}