{
    "env": {
        "browser": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "project": "./tsconfig.json",
        "tsconfigRootDir": "."
    },
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react-hooks", "prettier"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx"] }],
        "react-hooks/rules-of-hooks": "warn",
        "react-hooks/exhaustive-deps": "warn",
        "prettier/prettier": "warn",
        "radix": "off",
        "no-console": "off",
        "no-underscore-dangle": "off"
    }
}
