.record-action-buttons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__log-icon {
        width: 15px;
        height: 15px;

        &--refresh{
            width: 20px;
            height: 20px;
        }

        &--record{
            width: 14px;
            height: 14px;
        }
    }

    &__log {
        flex-shrink: 0;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .5);
        margin-right: 5px;

        &--refresh{
            border: none;
            display: flex;
        }

        &--remove {
            img{
                transform: rotate(45deg);
            }
        }
    }
}
