.record-action-buttons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &-btn {
        flex-shrink: 0;
        background: transparent;
        margin-right: 10px;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:last-child {
            margin-right: 0;
        }

        &--disabled {
            cursor: default;
            opacity: 0.5;
        }

        .compact-view &--loader {
            position: relative;
            top: -2px;
        }
    }

    &-start-new {
        width: 50px;

        .compact-view & {
            width: 20px;
        }
    }

    &-small-icon {
        display: block;
        width: 20px;

        .compact-view & {
            width: 13px;
            height: 13px;

            .loader {
                position: relative;
                top: -5px;
            }
        }

        &--add-passive {
            width: 22px;

            .compact-view & {
                width: 15px;
            }
        }
    }
}
