.record {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .2);
  border-radius: 6px;
  transition: background 150ms;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
  
  &,
  input[type='text'] {
    font-size: .7rem;
  }

  &__sync {
    height: 100%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    
    &-icon {
      width: 20px;
      cursor: pointer;
      transition: opacity 250ms linear;

      &:hover {
        opacity: 1;
      }
    }

    &--stop {
      background: rgba(255, 255, 255, .9);
      width: 19px;
      height: 20px;
      margin-left: 11px;
      margin-right: 1px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  &--syncing {
    background: rgba(255, 255, 255, .4);
  }

  &--moving {
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background: rgba(255, 255, 255, .4);
  }

  &-remove {
    padding: 6px;
    flex-shrink: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transform: scale(.5);
    transition: all 150ms;

    .record:hover & {
      opacity: 1;
      transform: none;
    }
  }
  &-remove-icon {
    display: block;
    width: 10px;
  }

  &-time {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  &-comment {
    flex-grow: 1;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    color: #fff;
  }

  &-dates {
    margin-right: 15px;
  }

  &__elapsed-time {
    min-width: 70px;
    text-align: right;

    .record--active & {
      animation: blink 2s infinite;
    }
  }

  &-comment {
    padding: 5px;
  }
}
