.records {

  transition: background 100ms;

  &--no-issue {
    border-bottom: 1px solid #ccc;
  }

  &--drop-active {
    background: #e0e0e0;
  }
  
  &-header {
    padding: 10px 5px;
  }
}

.record {
  display: flex;
  padding: 5px 10px 5px 48px;
  border-top: 1px solid #f0f0f0;
  align-items: center;
  font-size: .8rem;
  background: #fff;
  box-sizing: border-box;

  &__sync {
    height: 100%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    
    &-icon {
      opacity: .5;
      cursor: pointer;
      transition: opacity 250ms linear;

      &:hover {
        opacity: 1;
      }
    }

  }

  &--syncing {
    background-color: #f1f1f1;
  }

  &--moving {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  }

  &-remove {
    font-size: 10px;
    padding: 2px 4px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  &-time {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  &-comment {
    flex-grow: 1;
  }

  &-dates {
    margin-right: 15px;
  }

  &-date {
    display: block;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &__input {
      padding: 0;
      border: none;
      background: transparent;

      &::-ms-clear,
      &::-webkit-clear-button,
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          display:none;
      }
    }

    &__today {
      display: inline-block;
      cursor: pointer;
    }

    &__input--date,
    &__today {
      width: 130px;
    }

    &--end {}
  }

  &__elapsed-time {
    min-width: 60px;

    .record--active & {
      animation: blink 2s infinite;
    }
  }

  &-comment {
    padding: 5px;
  }
}