.record {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .2);
  border-radius: 6px;
  transition: background 150ms;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
  
  &,
  input[type='text'] {
    font-size: .7rem;
  }

  &__sync {
    height: 100%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    
    &-icon {
      width: 24px;
      cursor: pointer;
      transition: opacity 250ms linear;

      &:hover {
        opacity: 1;
      }
    }

    &--stop {
      background: #fff;
      width: 15px;
      height: 15px;
      margin-left: 12px;
      margin-right: 6px;
      cursor: pointer;
    }
  }

  &--syncing {
    background-color: #f1f1f1;
  }

  &--moving {
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background: rgba(255, 255, 255, .4);
  }

  &-remove {
    font-size: 10px;
    padding: 2px 4px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  &-time {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  &-comment {
    flex-grow: 1;
  }

  &-dates {
    margin-right: 15px;
  }

  &__elapsed-time {
    min-width: 70px;
    text-align: right;

    .record--active & {
      animation: blink 2s infinite;
    }
  }

  &-comment {
    padding: 5px;
  }
}
