.date-inp {
  display: block;

  &:not(:first-child) {
    margin-top: 5px;
  }

  &__input {
    display: inline-block;
    padding: 0;
    border: none; 
    background: transparent;

    &::-ms-clear,
    &::-webkit-clear-button,
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display:none;
    }
  }

  &__today {
    display: inline-block;
    cursor: pointer;
  }

  &__input--date,
  &__today {
    &,
    & > input {
      width: 130px;
      border: none !important;
    }
  }

  &__input--time > input {
    width: 40px;
    border: none !important;
    padding: 2px 0;
    text-align: center;
  }

  &__input--time-seconds > input {
    width: 65px;
    border: none !important;
    padding: 2px 0;
    text-align: left;
  }

  &--end {}
}