.login {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5%;

  &-label {
    display: block;
    margin-bottom: 20px;
  }

  &-label__text {
    display: block;
    margin-bottom: 5px;
  }

  &-error {
    background: #ffe2e2;
    margin-bottom: 20px;
    padding: 10px;

    &__header {
      margin-bottom: 10px;
    }

    &__footer {
      margin-top: 10px;
    }
  }
}