@import '_variables.scss';

.task-item {
  border-radius: 6px;
  background: rgba(255, 255, 255, .2);
  transition: background 100ms;
  padding: 20px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    background: rgba(255, 255, 255, .3);
  }

  &--drop-active {
    &,
    &:hover {
      background: rgba(255, 255, 255, .4)
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screen-sm) {
      flex-wrap: wrap;
    }
  }

  &__left,
  &__mid,
  &__right {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
  }

  &__left {
    flex-basis: 10%;
    @media (max-width: $screen-sm) {
      flex: 0 1 auto;
    }
  }

  &__mid {
    flex-basis: 70%;
    flex-grow: 1;
    @media (max-width: $screen-sm) {
      order: 4;
      flex: 0 0 100%;
      padding: 15px;

    }
  }
  
  &__right {
    justify-content: center;
    flex-wrap: nowrap;
    @media (max-width: $screen-sm) {
      flex: 1 1 auto;
      justify-content: flex-end;
      min-width: 50%;
    }
  }

  &__remove {
    flex-shrink: 0;
  }

  &__key {
    flex-shrink: 0;
    min-width: 120px;
    margin-left: 15px;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  &__issue-refresh {
    cursor: pointer;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
  }

  &__issue-refresh-image {
    width: 20px;
    height: 20px;
    opacity: .7;
  }

  &__summary {
    font-size: .8rem;
    margin: 0 15px;
    flex-shrink: 1;
    flex-grow: 1;

    // Temporary test with the new design
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: $screen-sm) {
      margin: 0;
    }
  }

  &__status {
    opacity: .6;
    font-size: .8rem;
    padding: 5px 7px;
    border: 1px solid #fff;
    border-radius: 4px;
    white-space: nowrap;
  }

  &__remaining {
    width: 90px;
    font-size: .8rem;
    margin-right: 15px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border: none;
    text-align: right;
    background: transparent;
  }

  &__loading {
    width: 20px;
    opacity: .7;
  }
}
