@import './vendor/_bootstrap-custom.scss';
@import 'base';
@import '~sweetalert2/dist/sweetalert2.css';

@font-face {
    font-family: 'robotoregular';
    src: url('../static/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('../static/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../static/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../static/fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'robotoregular', sans-serif;
  font-size: 18px;

  &.moving {
    cursor: default;

    &,
    * {
      user-select: none !important;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  padding: 7px 10px;

  &::-webkit-clear-button {
    display: none;
  }
}

.swal2-prompt {
  display: flex;
  flex-direction: column;

  &-header {
    margin-bottom: 10px;
  }

  &-input {
    padding: 10px;
  }
}

@keyframes blink {
  0%  { opacity: 1; }
  50%  { opacity: .25; }
  100%  { opacity: 1; }
}

// Remove chrome autofill 
input:-webkit-autofill,
input:-webkit-autofill:focus  {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: inherit;
}