@import 'base';
@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;

  &.moving {
    cursor: default;
    
    * {
      user-select: none;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  padding: 7px 10px;

  &::-webkit-clear-button {
    display: none;
  }
}

@keyframes blink {
  0%  { opacity: 1; }
  50%  { opacity: .25; }
  100%  { opacity: 1; }
}