@import '_variables';

.theme-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;

    &-title {
        text-align: center;
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;
        padding: 0;
    }

    &-list-item {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: .5rem;
        margin: 0 15px;
        cursor: pointer;
        transition: all 150ms;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0);

        &--lightpurple { background: $theme-lightpurple-background; }
        &--darkpurple { background: $theme-darkpurple-background; }
        &--blue { background: $theme-blue-background; }
        &--turquoise { background: $theme-turquoise-background; }
        &--orange { background: $theme-orange-background; }
        &--yellow { background: $theme-yellow-background; }
        &--green { background: $theme-green-background; }
        &--dark { background: $theme-dark-background; }

        &--selected {
            box-shadow: 0 0 0 2px rgba(255, 255, 255, .5);
            transform: scale(1.1);
        }
    }
}