@import "_variables";

.theme-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;

    &-title {
        text-align: center;
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    &-list-item {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 0.5rem;
        margin: 10px 15px;
        cursor: pointer;
        transition: all 150ms;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0);

        &:active {
            transform: scale(0.92);
        }

        &--selected {
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
            transform: scale(1.2);
        }
    }
}
