.tasks-header {
    height: 30px;
    margin: 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;

    .compact-view & {
        margin: 0 5px 5px;
    }

    &-sorting {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 5px 15px;
        user-select: none;

        .compact-view & {
            padding: 5px 3px;
        }
    }

    &-sorting-icon {
        width: 17px;
        margin-left: 3px;
        transition: transform 250ms;
        transform: rotate(-90deg);
        .tasks-header-sorting--asc & {
            transform: rotate(0deg);
        }
        .tasks-header-sorting--desc & {
            transform: rotate(-180deg);
        }
    }

    &-right {
        display: flex;

        > *:not(:last-child) {
            margin-right: 10px;
        }
    }

    &-search {
        position: relative;
    }

    &-search-delete {
        position: absolute;
        color: #777;
        right: 0;
        top: 0;
        cursor: pointer;
        width: 23px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 150ms, opacity 150ms;
        transform: scale(0.9);
        opacity: 0;

        &--show {
            opacity: 1;
            transform: 0;
        }

        &__icon {
            width: 14px;
            transform: rotate(45deg);
        }
    }
    &-search-input {
        font-size: 0.7rem;
        padding: 3px 25px;
        background-image: url("../../../assets/search.svg");
        background-repeat: no-repeat;
        background-position: 5px center;
        background-size: 19px auto;
    }
}
