@import 'variables';

.header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: rgba(0, 0, 0, .2);
  margin-bottom: 15px;

  // Enable window drag for header for when wrapped in nativefier
  -webkit-app-region: drag;

  &__right,
  &__left {
    display: flex;
    min-width: 52px;
  }

  &__left {
    align-items: center;
    padding-left: 20px;
  }

  &-title {
    font-size: 1.65rem;
    font-family: robotothinitalic, sans-serif;
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px 15px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 100ms;
    line-height: 0;
    box-sizing: border-box;
    -webkit-app-region: no-drag;

    &--avatar {
      padding: 10px 15px;
    }
  }

  &-sync {
    background-repeat: no-repeat;
    background-size: 61px auto;
    background-position: 8px center;
    font-size: .8rem;
    padding-left: 20px;
    padding-right: 30px;
    min-width: 82px;

    &--syncing {
      background-size: 30px auto;
      background-position: center;
    }

    &--inactive {
      opacity: .5;
      cursor: default;
    }
  }

  &__icon {
    opacity: .7;
    transition: opacity 100ms;
    height: 24px;

    .header__route--active &,
    .header__route--active:hover &,
    .header__button--avatar &,
    .header__button--active & {
      opacity: 1;
    }

    .header__button--avatar & {
      width: 32px;
      height: 32px;
    }
  }
}

.update-available {
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: .8rem;
  -webkit-app-region: no-drag;

  &-icon {
    display: inline-block;
    width: 15px;
    position: relative;
    top: -1px;
    margin-right: 5px;
  }
}
