@import '_variables';

.theme {

    // Fallback color if something is wrong with setting the theme
    background: #777;

    &-red {
        background: $theme-red-background;
    }

    &-blue {
        background: $theme-blue-background;
    }

    &,
    a {
        color: #fff;
    }

    input[type='text'],
    input[type='search'],
    textarea {
        background: transparent;
        color: #fff;
    }

    textarea {
        border: 1px solid rgba(255, 255, 255, .5);
    }

    button {
        background: transparent;
        border: 1px solid #fff;
        padding: 5px 10px;
    }
}