.profile {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100vw;

  &-logout {
    margin-top: 20px;
    flex: 0 0 auto;
  }

  &-avatar {
    text-align: center;
  }
  &-avatar-img {
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, .2);
    width: 50px;
    height: 50px;
    background-size: cover;
  }

  &-bottom {
    text-align: center;
  }

  &-shortcuts {
    margin: 0 auto;
    max-width: calc(100% - 40px);
    text-align: left;
    line-height: 1.2rem;
  }
  &-shortcuts-heading {
    text-transform: uppercase;
  }
  &-shortcuts-cell {
    padding: 5px;
  }

  &-preferences {
    margin-bottom: 40px;

    &-field:not(:last-child) {
      margin-bottom: 5px;
    }

    &-label {
      display: inline-block;
      margin-right: 10px;
    }
    
    &-input {
      position: relative;
      top: 1px;
    }
  }
}

.app-version {
  margin-top: 30px;
}