.tasks-draggable {
  position: absolute;
  top: 0;
  left: 20px;
  right: 15px;
  height: calc(100% - 20px);
}
.tasks-draggable-item {
  position: absolute;
  min-height: 10px;
  width: 100%;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
}
