.tasks {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &-list-wrap {
    position: relative;
    overflow-y: scroll;
    flex-grow: 1;
    padding: 20px;
  }

  &-outer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &--no-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__item {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }

  &__lazy-dog {
    max-width: 100%;
    height: 150px;
    margin-top: 30px;
    border: 10px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
  }

  &-real {
    opacity: 0;
  }
}