.history-record {

  td {
    white-space: nowrap;

    &.history-record-comment {
      white-space: normal;
    }
  }

  &-icon {
    opacity: 0;
    height: 24px;

    .history-record--can-be-exported & {
      opacity: .5;
      cursor: pointer;
    }
  }
}